<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oficinas</title>
    <link rel="stylesheet" href="../css/grid.css"> 
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="icon" href="../favicon/che.ico" type="image/x-icon">
    
    <script src="../scripts/cambios.js" defer></script>
</head>
<body>

    <header>
        
    </header>


    <footer>
        <div class="presa">
            <img src="../img/che_ebro.png" alt="che_ebro">
        </div>
        <div class="estamos">
            <a href="../index.html">Página de Inicio</a>
        </div>
        
        <div class="ministerio">
            <img src="../img/gobierno.png" alt="Gobierno">
            <img src="../img/ministerio.png" alt="Ministerio">
        </div>
    </footer>
</body>
</html>
