<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embalse del Ebro</title>
    <link rel="stylesheet" href="../css/rama.css"> 
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="icon" href="../favicon/che.ico" type="image/x-icon">

    <script src="../scripts/rama.js" defer></script>

</head>
<body>

    <header>
        
    </header>
        
    <footer>
        
    </footer>
</body>
</html>

